*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face{
    font-family: "HeaderFont";
    src: url("../fonts/AA-BEBASNEUE.TTF") format("truetype");
    font-style: normal;
    font-weight: normal;
}

body{
     font-family: "HeaderFont";
     color: #fff;
     background: #000;
}

section{
    height: 100vh;
    padding: 5vmin;
}

.first{
    background: url("../img/bg1.png") no-repeat center top/ cover;
}

.intro{
    display: flex;
    justify-content: center;
    height: 100%;
}

.st0, .st1{
    fill: #fff;
    stroke: #fff;
    opacity: 1;
    stroke-width:0;
}


.reg{
    display: none;
}

.wrap{
    display: flex;
    flex-wrap: wrap;
}

.col{
    width: 50%;
    text-align: center;
}

.col img{
    height: 8vmax;
    margin-bottom: 3vmin;
}

.col p{
    padding: 3vmin;
    font-size: 3vmax;

}

.reg-button{
    margin: 0 auto;
    text-align: center;
}

.reg-button a{
    color: #FFFFFF;
    text-decoration: none;
    font-size: 6vmax;
}


/*INTRO*/

.st0{
    stroke-dasharray: 700;
    animation: Logo-Misc 3s ease-in;
}

.st1{
    stroke-dasharray: 3325;
    animation: Logo-Shield 3s ease-in;
}


@-webkit-keyframes Logo-Shield {
    0% {
        opacity: 0;
        fill: none;
        stroke-dashoffset: 3325;
        stroke-width:3;
    }
    10% {
        fill: none;
        opacity: 1;
        stroke-dashoffset: 3325;
    }
    90% {
        fill: rgba(255,255,255,0);
        stroke-width:3;
    }
    100% {
        fill: rgba(255,255,255,1);
        stroke-dashoffset: 0;
        stroke-width:0;
    }
}

@-moz-keyframes Logo-Shield {
    0% {
        opacity: 0;
        fill: none;
        stroke-dashoffset: 3325;
        stroke-width:3;
    }
    10% {
        fill: none;
        opacity: 1;
        stroke-dashoffset: 3325;
    }
    90% {
        fill: rgba(255,255,255,0);
        stroke-width:3;
    }
    100% {
        fill: rgba(255,255,255,1);
        stroke-dashoffset: 0;
        stroke-width:0;
    }
}

@-o-keyframes Logo-Shield {
    0% {
        opacity: 0;
        fill: none;
        stroke-dashoffset: 3325;
        stroke-width:3;
    }
    10% {
        fill: none;
        opacity: 1;
        stroke-dashoffset: 3325;
    }
    90% {
        fill: rgba(255,255,255,0);
        stroke-width:3;
    }
    100% {
        fill: rgba(255,255,255,1);
        stroke-dashoffset: 0;
        stroke-width:0;
    }
}

@keyframes Logo-Shield {
    0% {
        opacity: 0;
        fill: none;
        stroke-dashoffset: 3325;
        stroke-width:3;
    }
    10% {
        fill: none;
        opacity: 1;
        stroke-dashoffset: 3325;
    }
    90% {
        fill: rgba(255,255,255,0);
        stroke-width:3;
    }
    100% {
        fill: rgba(255,255,255,1);
        stroke-dashoffset: 0;
        stroke-width:0;
    }
}



@-webkit-keyframes Logo-Misc {
    0% {
        opacity: 0;
        fill: none;
        stroke-dashoffset: 700;
        stroke-width:3;
    }
    10% {
        fill: none;
        opacity: 1;
        stroke-dashoffset: 700;
    }
    90% {
        fill: rgba(255,255,255,0);
        stroke-width:3;
    }
    100% {
        fill: rgba(255,255,255,1);
        stroke-dashoffset: 0;
        stroke-width:0;
    }
}

@-moz-keyframes Logo-Misc {
    0% {
        opacity: 0;
        fill: none;
        stroke-dashoffset: 700;
        stroke-width:3;
    }
    10% {
        fill: none;
        opacity: 1;
        stroke-dashoffset: 700;
    }
    90% {
        fill: rgba(255,255,255,0);
        stroke-width:3;
    }
    100% {
        fill: rgba(255,255,255,1);
        stroke-dashoffset: 0;
        stroke-width:0;
    }
}

@-o-keyframes Logo-Misc {
    0% {
        opacity: 0;
        fill: none;
        stroke-dashoffset: 700;
        stroke-width:3;
    }
    10% {
        fill: none;
        opacity: 1;
        stroke-dashoffset: 700;
    }
    90% {
        fill: rgba(255,255,255,0);
        stroke-width:3;
    }
    100% {
        fill: rgba(255,255,255,1);
        stroke-dashoffset: 0;
        stroke-width:0;
    }
}

@keyframes Logo-Misc {
    0% {
        opacity: 0;
        fill: none;
        stroke-dashoffset: 700;
        stroke-width:3;
    }
    10% {
        fill: none;
        opacity: 1;
        stroke-dashoffset: 700;
    }
    90% {
        fill: rgba(255,255,255,0);
        stroke-width:3;
    }
    100% {
        fill: rgba(255,255,255,1);
        stroke-dashoffset: 0;
        stroke-width:0;
    }
}


/*Mazok animation*/

@-webkit-keyframes Mazok {
    0% {
        background-position: 75% 50%
    }
    100% {
        background-position: 50% 50%
    }
}

@-moz-keyframes Mazok {
    0% {
        background-position: 75% 50%
    }
    100% {
        background-position: 50% 50%
    }
}

@-o-keyframes Mazok {
    0% {
        background-position: 75% 50%
    }
    100% {
        background-position: 50% 50%
    }
}

@keyframes Mazok {
    0% {
        background-position: 75% 50%
    }
    100% {
        background-position: 50% 50%
    }
}

@media screen and (max-width: 640px){
    .col{
        width: 100%;
    }
    section{
    height: 90vh;
    }
    .wrap{
        height: 75vh;
        flex-direction: column;
        justify-content: space-around;
    }
}

